@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";
@import "../../../assets/styles/auth-form";
.main {
  //section 1
  .carousel-items {
    position: relative;

    .carousel-item {
      display: flex;
      justify-content: right;
      position: relative;
      width: 1240px;
      height: 500px;
      overflow: hidden;

      .carousel-info-container {
        background-color: $blue-light-text-color;
        position: absolute;
        width: 1405px;
        height: 1400px;
        left: -702px;
        top: -702px;
        border-radius: 50%;

        .carousel-info {
          position: absolute;
          top: 791px;
          right: 96px;
          display: flex;
          flex-direction: column;


          .carousel-info-title {
            font-size: 12px;
            font-family: 'Monsterat',sans-serif;
            font-weight: 600;
            letter-spacing: 7px;
            color: $blue-text-color;
          }

          .carousel-info-text {
            font-family: 'Lora', sans-serif;
            font-weight: 400;
            font-size: 50px;
            max-width: 525px;
            color: #FFF;

            span {
              color: $blue-text-color;
            }
          }

          .carousel-info-desc {
            color: #ffffff;
            font-size: 24px;
            margin-top: 20px;
          }

          .btn.carousel-btn {
            margin-top: 40px;
            align-self: baseline;
            width: 163px;
            height: 51px;
            line-height: 1.4;
          }
        }
      }

      .carousel-img {
        width: 750px;
        height: 100%;

        img {
          width: 100%;
        }
      }


    }


    .arrow-prev, .arrow-next {
      position: absolute;
      cursor: pointer;
      top: 48%;
      z-index: 100;
    }

    #owlSlide {
      height: 500px;
      display: block;
      overflow: hidden;
      position: relative;
      margin-bottom: 120px;
    }

    .arrow-prev {
      left: 10px;
    }

    .arrow-next {
      right: 10px;
    }
  }
  //section 2
  .articles {
    padding-bottom: 120px;
    .articles-title {
      @include head-lora-38;
      margin-bottom: 40px;
    }

    .articles-items {
      display: flex;
      column-gap: 25px;
    }
  }
  //section 3
  .who-we {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;

    .who-we-info {

      .who-we-info-title {
        font-size: 38px;
        color: $blue-text-color;
        @include head-lora-38;
        margin-bottom: 30px;


      }

      .who-we-info-text {
        max-width: 633px;
        margin-bottom: 40px;
        font-size: 14px;

        span {
          font-family: 'Monsterat',sans-serif;
          font-weight: 600;
        }
      }

      .who-we-info-advantages {
        .who-we-info-advantages-title {
          font-family: "Lora", sans-serif;
          font-size: 26px;
          font-weight: 400;
          margin-bottom: 20px;
          color: $blue-text-color;
        }

        .advantages-items.who-we-info-advantages-items {
          display: grid;
          grid-template-columns: repeat(2, 316px);
          grid-template-rows: repeat(2, 90px) ;

          .who-we-info-advantages-item {
            display: flex;
            align-items: center;
            column-gap: 20px;

            .who-we-info-advantages-item-number {
              position: relative;
              width: 40px;
              height: 40px;
              background: $blue-light-text-color;
              border-radius: 50%;

              span {

                position: absolute;
                top: -18px;
                left: 9px;
                color: $blue-text-color;
                font-size: 50px;

              }
            }

            .who-we-info-advantages-item-text {
              max-width: 256px;
              font-size: 14px;

              span {
                font-family: 'Monsterat', sans-serif;
                font-weight: 600;
              }
            }
          }
        }

      }
    }
  }

  //section 5
  .reviews {
    padding-top: 130px;
    padding-bottom: 130px;
    .container {
      position: relative;

      .reviews-title {
        @include head-lora-38;
        margin-bottom: 50px;
      }

      .reviews-carousel {
        position: relative;

        .review-item {
          width: 396px;
          height: 267px;
          padding: 30px;
          border: 2px solid  $blue-text-color;
          border-radius: 10px;
          box-sizing: border-box;

          .review-item-head {
            display: flex;
            align-items: center;

            .review-item-img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background-position:  center;
              background-size: cover;
              margin-right: 26px;

            }
            .review-item-name {
              color: $blue-text-color;
              font-size: 16px;
              font-weight: 600;
              line-height: 130%;
              font-family: 'Monsterrat', sans-serif;

            }
          }

          .review-item-text {
            margin-top: 15px;
            font-size: 16px;
            color: black;
            line-height: 140%;
          }
        }
      }

      .reviews-arrows {
        display: flex;


        div {
          top: calc(60% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }
          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }

  //section 6
  .map {
      display: flex;
      column-gap: 26px;
      align-items: center;
      padding-bottom: 120px;

      .map-info-title {
        @include head-lora-32;
        margin-bottom: 20px;
      }
    .map-info-items {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      .map-info-item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        .map-info-item-title {
          font-family: 'Monsterat', sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: $blue-text-color;
        }

        .map-info-item-text {
          font-size: 14px;
          color: $blue-dark-text-color;
          max-width: 470px;
        }

        &.social-media-icons {
          .map-info-item-icons {
            display: flex;
            column-gap: 20px;
          }
        }
      }
    }
  }




}
