@import "../../../../assets/styles/variables";

.article-card {
  width: 291px;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .article-img-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;

    .article-card-title {
      font-family: 'Monsterat', sans-serif;
      font-weight: 500;
      font-size: 20px;
      color: $blue-text-color;
    }
  }

  .article-card-img {
    width: 100%;
    height: 291px;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }



    .article-card-desc {
      font-size: 14px;
      max-width: 284px;
      margin-top: 10px;
    }

  .article-card-info {
    align-self: flex-end;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .article-card-price {
      font-family: 'Monsterat', sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: $blue-text-color;
    }

    .btn.article-card-detail-action {
      width: 163px;
      cursor: pointer;
    }
  }

  .read-more {
    align-self: flex-start;
    text-decoration: underline;
    font-size: 16px;
    color: rgb(112, 159, 220);
    cursor: pointer;
  }

  .article-card-category {
    position: absolute;
    padding: 10px 18px;
    background: #fff;
    color: $blue-text-color;
    border-radius: 5px;
    top: 10px;
    right: 10px;
  }
}
