@import "../../../../assets/styles/variables";

.footer {

  padding-top: 40px;
  padding-bottom: 52px;
  background-color: $blue-light-text-color;

  .container {

    .footer-top {

      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .logo {
        margin-right: 35px;
      }

      .footer-menu {
        .footer-menu-items {
          display: flex;
          column-gap: 30px;
          list-style: none;

          .footer-menu-item {
            font-family: "Montserrat", sans-serif;
            line-height: 130%;
            text-align: left;

            .footer-menu-link {
              cursor: pointer;
            }
          }
        }
      }
    }

    .footer-bottom {
      .footer-bottom-items {
        display: flex;
        column-gap: 60px;
        .footer-bottom-item {
          max-width: 253px;

          &.email {
            text-decoration: none;

            .footer-bottom-item-text {
              color: black;
            }
          }

          .footer-bottom-item-title {
            color: $blue-text-color;
            font-family: 'Monsterat', sans-serif;
            margin-bottom: 10px;
          }

          &.telephone {
            a {
              cursor: pointer !important;
              padding: 10px 20px;
              margin-top: 10px;
              width: 153px;
              height: 36px;
              font-size: 12px;
              border-radius: 5px;
              border: none;
              background-color: rgb(112, 159, 220);
              color: #FFF;
              box-sizing: border-box;
            }
          }

          &.social-media {
            .footer-bottom-item-icons {
              display: flex;
              column-gap: 19px;

              a {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
