@import "../../../../assets/styles/auth-form";

.login  {
  padding-top: 70px ;
  padding-bottom: 92px;
  .container {
    display: flex;
    column-gap: 178px;
    align-items: center;


    .auth-input.password {

      position: relative;

      .show-password, .hide-password {
        cursor: pointer;
        position: absolute;
        top: 14px;
        right: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }

  .page-img {
    //margin-left: 49px;

    img {
      vertical-align: bottom;
    }
  }
}
